extends ../layout

block append nav-links
  li: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
  if following
    a.btn.btn-lg.btn-danger(href="/users/" + user.id + "/unfollow") Unfollow
  else
    a.btn.btn-lg.btn-success(href="/users/" + user.id + "/follow") Follow
  .photos-container.container-fluid
    each photo in photos
      .row
        include ../partials/photo
    if showMore
        a.btn.btn-default.btn-lg.btn-block(href="/feed?page=" + nextPage) more
    //a(href="/feed?page=" + nextPage) more

