extends ../layout

block append nav-links
  li: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
  | #{user.username}
  | #{user.name}

block append content
    img(src= 'http://127.0.0.1:9000/photos/thumbnail/' + photo.id + '.jpg')