extends ../layout

block append nav-links
  li: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
  .photos-container.container-fluid
    each photo in photos
      .row
        include ../partials/photo

    a(href="/feed?page=" + nextPage) more

