extends ../layout

block append nav-links
  li: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
  .photos-container.container-fluid
    if showFollow
      .row
        if following
          a.btn.btn-block.btn-danger.follow-button(href="/users/" + user.id + "/unfollow") Unfollow
        else
          a.btn.btn-block.btn-success.follow-button(href="/users/" + user.id + "/follow") Follow
    each photo in photos
      .row
        include ../partials/photo

    if showMore
      a.btn.btn-default.btn-lg.btn-block(href="/users/" + user.id + "?page=" + nextPage) more

