body {
    margin-top: 70px;
}

@media (max-width: 767px) {
    .photos-container .row:first-of-type {
        margin-top: -20px !important;
    }
}

.separator {
    text-align: center;
    margin-bottom: -20px;
}

.separator span {
    position: relative;
    top: -32px;
    color: #666;
    padding: 0 10px;
    background-color: white;
}

.row figure {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 3px;
}

figure img {
    width: 100%;
    max-width: 400px;
}

.row figcaption {
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px 1px #e6e6e6 inset;
    background-color: #eee;
    padding: 5px;
    font-size: 0.9em;
    color: #666;
}
