extends ../layout

block append content
  .container-fluid
    each photo in photos
      .row
        include partials/photo
    a.btn.btn-default.btn-large.btn-block(href="/feed?page=" + nextPage) more

