extends ../layout

block append nav-links
  li.active: a(href="/feed") Feed
  li: a(href="/photos/new") Upload

block append nav-right-links
  li: a(href="/logout") Logout

block append content
  .photos-container.container-fluid
    if photos.length === 0
      .alert.alert-info
        strong No images to show!
    each photo in photos
      .row
        include partials/photo
    if showMore
      a.btn.btn-default.btn-lg.btn-block(href="/feed?page=" + nextPage) more

